:root {
    --primary: #202C39;
    --secondary: #48525D;
    --tertiary: #798189;
    --pink: #F9E0D9;
    --cream: #F9F4D6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--tertiary);
    color: var(--cream);
    font-family: Helvetica, Arial, sans-serif;
}
/* HEADER */
header {
    background-color: var(--primary);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}
header a {
    text-decoration: none;
    color: var(--cream);
}
header h1 {
    margin: 0 40px;
    font-size: 42px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center
}
header nav ul li a {
    margin: 0 40px;
    padding: 5px;
    border-bottom: 2px solid var(--cream);
    font-size: 18px;
}

/* HERO SECTION */
.hero {
    background-color: var(--pink);
    height: 300px;
    position: relative;
}
.hero h2 {
    color: var(--primary);
    font-size: 36px;
    position: absolute;
    margin: 0 60px 40px 0;
    bottom: 0;
    right: 0;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: ;
}
.section-title {
    width: 30%;
    font-size: 56px;
}

/* ABOUT ME */
.about-me {
    display: flex;
    align-items: center;
    margin: 30px;
}
.about-me p {
    line-height: 1.5;
    width: 60%;
}

/* WORK */
.work {
    display: flex;
    align-items: center;
    margin: 30px;
}

/* CONTACT ME */
.contact-me {
    display: flex;
    align-items: center;
    margin: 30px;
}